@model _08_05_Olympics.Models.ViewModels.IntegratedViewModel
@{
    ViewData["Title"] = "Athletes";
}

<h2 class="d-inline-block mb-4">Athletes</h2>

@Html.ActionLink("Add an athlete", "Create", "Athletes", null, new { @class = "btn btn-primary float-right" })

@using (Html.BeginForm("SortedFilteredIndex", "Athletes", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SortFilter.SortBy, "Sort athletes by: ")
        @Html.DropDownListFor(m => m.SortFilter.SortBy, new SelectList(Model.SortFilter.SortProperties), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SortFilter.FilterByCountry, "Filter athletes by country: ")
        @Html.DropDownListFor(m => m.SortFilter.FilterByCountry, new SelectList(Model.Countries.Select(c => c.Name)), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SortFilter.FilterBySport, "Show only athletes that attend the following sport: ")
        @Html.DropDownListFor(m => m.SortFilter.FilterBySport, new SelectList(Model.Sports.Select(s => s.Name)), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.SortFilter.FilterByTeamActivity,
                              new SelectList(
                                          new Dictionary<int, string> { { 0, "No filtering by team/non-team activities" },
                                                                        { 1, "Select only athletes who attend team activities" },
                                                                        { 2, "Select only athletes who attend non-team activities" } },
                                          "Key",
                                          "Value"),
                              null,
                              new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary mb-5">Sort and filter</button>
}

@if (Model.Athletes.Count == 0)
{
    <p>There are no athletes.</p>
}
else
{
    <table id="athletes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle">Id</th>
                <th class="text-center align-middle">Name</th>
                <th class="text-center align-middle">Surname</th>
                <th class="text-center align-middle">Country</th>
                <th class="text-center align-middle">Sports</th>
                <th class="text-center align-middle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var athlete in Model.Athletes)
            {
                <tr id="tr-@athlete.Id">
                    <td class="text-center align-middle">@Html.ActionLink($"{athlete.Id}", "Edit", "Athletes", new { id = athlete.Id })</td>
                    <td class="text-center align-middle">@Html.ActionLink(athlete.Name, "Edit", "Athletes", new { id = athlete.Id })</td>
                    <td class="text-center align-middle">@Html.ActionLink(athlete.Surname, "Edit", "Athletes", new { id = athlete.Id })</td>
                    <td class="text-center align-middle">@athlete.Country.Name</td>
                    <td class="align-middle">
                        <ul class="m-0">
                            @for (int i = 0; i < athlete.Sports.Count; i++)
                            {
                                int sportId = athlete.Sports.ElementAt(i).Key;
                                <li>@Model.Sports.Single(s => s.Id == sportId).Name</li>
                            }
                        </ul>
                    </td>
                    <td class="text-center align-middle">
                        <button id="delete-@athlete.Id" class="fake-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#athletes .js-delete").on("click", function () {
                let id = this.id.split('-')[1];

                if (confirm("Are you sure you want to delete this athlete?")) {
                    $.ajax({
                        type: "DELETE",
                        url: 'Athletes/Delete',
                        data: { id: id }
                    });

                    document.getElementById(`tr-${id}`).innerHTML = '';
                }
            });
        });


    </script>
}