@model List<CountryModel>
@{
    ViewData["Title"] = "Countries";
}

<h2 class="d-inline-block mb-4">Countries</h2>

@Html.ActionLink("Add a country", "Create", "Countries", null, new { @class = "btn btn-primary float-right" })

@if (Model.Count == 0)
{
    <p>There are no countries.</p>
}
else
{
    <table id="countries" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle">Id</th>
                <th class="text-center align-middle">Name</th>
                <th class="text-center align-middle">UNDP</th>
                <th class="text-center align-middle"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model)
            {
                <tr>
                    <td class="text-center align-middle">@country.Id</td>
                    <td class="text-center align-middle">@Html.ActionLink($"{country.Name}", "Edit", "Countries", new { id = country.Id })</td>
                    <td class="text-center align-middle">@country.UNDP</td>
                    <td class="text-center align-middle">
                        <button id="delete-@country.Id" class="fake-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (ViewData["Message"] != "")
{
    <script>
        alert("@ViewData["Message"]");
    </script>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#countries .js-delete").on("click", function () {
                let id = this.id.split('-')[1];

                if (confirm("Are you sure you want to delete this country?")) {
                    $.ajax({
                        type: "DELETE",
                        url: 'Countries/Delete',
                        data: { id: id },
                        success: function (response) {
                            window.location.href = response.redirectToUrl;
                        }
                    });
                    
                    //document.getElementById(`tr-${id}`).innerHTML = '';
                }
            });
        });
    </script>
}